.container {
    border: 1px solid white;
    padding: 10px;
    position: relative;
    list-style-type: none;
}

.delete {
    top:5px;
    right: 5px;
    position: absolute;
}

.edit {
    top:5px;
    right: 30px;
    position: absolute;
}

.container > input:focus {
    outline: none;
}